@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Caveat:wght@400..700&family=Lobster&family=Permanent+Marker&family=Poetsen+One&family=Righteous&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: darksalmon;
    font-family: "Arimo", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
}

h1 {
    color: brown;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

.img1 {
    width: 30px;
    height: 30px;

}

.container {
    width: 40%;
    min-height: 60vh;
    height: auto;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0px 12px 15px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#input {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: azure;
    font-size: 15px;
    padding: 10px;
}



.add {
    width: 49px;
    height: 49px;
    background-color: brown;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add:hover {
    background-color: rgb(229, 90, 90)
}

.add i {
    font-size: 20px;
    color: aliceblue;
    box-sizing: border-box;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling List And Button*/

.fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    color: maroon;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 10px;
}

.hapus {
    background-color: coral;
    border-radius: 8px;
    width: 35px;
    height: 35px;
    float: left;

}

ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgb(228, 204, 176);
    width: 90%;
    height: auto;
    margin: 10px;
    padding: 20px;
    position: relative;
    right: 40px;
    border-radius: 10px;
    word-break: break-all;
}



.we {
    font-size: 19px;
    margin-left: 20px;
    overflow: hidden;
    display: flex;
    word-break: break-all;
}

.img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #A54A00;
    display: flex;
    align-items: center;
    position: absolute;
    top: 35%;
    right: 89%;
    margin-right: 17px;

}

.sas {
    text-decoration: line-through;
    text-decoration-thickness: ;
    /* Tebal coretan */
}

.sas .we {
    opacity: 0.5;
}

h4 {
    font-size: 17px;
}

#amount-task {
    color:brown
}

#task-suscesful {
    color:darkgreen;
}


.nis {
    content: ;
    width: 25px;
    height: 25px;
    background-image: url(img/checked\ \(2\).png);
    background-size: cover;
    border-radius: 50%;
    border: none;
    display: block;

}

.value-task {
    margin-top: 150px;
    box-sizing: border-box;
    display: flex;
    align-content:end;
    justify-content: space-between;
}

#task-suscesful {
    position: relative;
    right: 20px;

}

#amount-task {
    padding-left: 10px;
}